{% extends "user/index.html" %}
{% block hero %}
<section class="hero-wrap js-fullheight d-md-block d-none" style="background-image: url('../../static/images/project_hero.jpg');" data-stellar-background-ratio="0.5">    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-12 ftco-animate pb-5 mb-3 text-center">
          <h1 class="mb-3 bread">Collaborations</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="./">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/projects">Projects <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="/projects/collaborations">Collaborations</a></span> </p>
        </div>
      </div>
    </div>
  </section>
{%endblock%}
{% block content %}
<!-- mobile topbar -->
<section class="mobile_bar">
  <div class="col-lg-4 mobile_bar d-block d-md-none sidebar ftco-animate">
    <!-- <div class="sidebar-box">
      <form action="#" class="search-form">
        <div class="form-group">
          <span class="icon icon-search"></span>
          <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
        </div>
      </form>
    </div> -->
    <div class="sidebar-box ftco-animate">
        <h3 class="heading-sidebar text-primary">Categories</h3>
      <ul class="categories">
        <li><a href="/projects">Deployed <span>(15)</span></a></li>
        <li><a href="/projects/demo">Toy Projects/demo <span>(10)</span></a></li>
        <li><a href="/projects/collaborations">Collaborations <span>(5)</span></a></li>
        <li><a href="/projects/works">In Progress <span>(10)</span></a></li>
      </ul>
    </div>
  
    <div class="sidebar-box ftco-animate">
      <h3 class="heading-sidebar text-primary">Collaborations</h3>
      <p>The projects in this category are collaborations and Close Source contributions that I have participated in. It is always a priviledge to work alongside other skilled persons in the tech space and come out with solid MVPs.</p>
    </div>
  </div>
  </section>
<section class="ftco-section">
    <div class="container">
      <div class="row">

        <!-- Project 1 -->
        <div class="col-md-8">
          <h2 class="mb-3 text-center">Bridal Fabrics</h2>
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(../../static/images/collabo/fabrics.jpg);"></div>
          <div class="col-lg-8 ftco-animate">
            <p>Fashion store</p>
            <p>Frontend build for bridalfabrics.fashion. A web application for a fashion brand that sells bridal laces, tulles, and all the fabrics that are bridal.</p>
            <div class="text-center my-5">
                <a href="https://github.com/oduyemi/bridalfabrics" target="_blank" class="btn btn-primary py-3 px-5">See Code</a>
            </div>
          </div>
        </div> 

         <!-- Project 2 -->
        <div class="col-md-8">
          <h2 class="mb-3 text-center">Fitness Guide</h2>
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(../../static/images/collabo/fit.jpg);"></div>
          <div class="col-lg-8 ftco-animate">
            <p>A fitness Evaluation web application</p>
            <p>Through partnerships with the public, private, and non-profit sectors. Fitness Guide International promotes programs and initiatives that motivate people of all ages, backgrounds, and abilities to lead active, healthy lives. Through seminars, lectures, handbills, books e.t.c. our mission is to engage, educate, and empower all Nigerians to adopt a healthy lifestyle that includes regular physical activity and good nutrition.</p>
              <div class="text-center my-5">
                <a href="https://erekere.com" target="_blank" class="btn btn-primary py-3 px-5">Visit Site</a>
              </div>
            </div>
          </div> 

           <!-- Project 3 -->
        <div class="col-md-8">
          <h2 class="mb-3 text-center">Locale API</h2>
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(../../static/images/collabo/localeHome.jpg);"></div>
          <div class="col-lg-8 ftco-animate">
            <p>Frontend for API</p>
            <p>A React frontend build for Locale API. A collaborative work with Emmanuel Albert who will work on the backend.</p>
              <div class="text-center my-5">
                <a href="https://thesrluxuries.com" target="_blank" class="btn btn-primary py-3 px-5">Visit Site</a>
              </div>
            </div>
          </div> 

         <!-- Project 4 -->
        <div class="col-md-8">
          <h2 class="mb-3 text-center">LawXTech</h2>
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(../../static/images/collabo/lawxtech.jpg);"></div>
          <div class="col-lg-8 ftco-animate">
            <p>Website for NGO</p>
            <p>At Law x Tech, our mission is to bridge the gap between the worlds of law and technology, empowering legal professionals and tech enthusiasts to navigate the ever-evolving landscape of legal tech. Founded in 2023 by Sopuruchi Rufus, a visionary with a dynamic blend of legal expertise and technological innovation, our organization aims to transform the legal profession by providing the skills needed to thrive in the new internet economy.</p>
            <div class="text-center my-5">
              <a href="https://urbizedge.com" target="_blank" class="btn btn-primary py-3 px-5">Visit Site</a>
            </div>
          </div>
        </div> 

         <!-- Project 5 -->
        <div class="col-md-8">
          <h2 class="mb-3 text-center">Celza</h2>
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(../../static/images/collabo/celza.jpg);"></div>
          <div class="col-lg-8 ftco-animate">
            <p>Church website</p>
            <p>Frontend bild for Christ Embassy Lagos sub-zone (Gbagada, Lagos, Nigeria).</p>
            <div class="text-center my-5">
              <a href="https://analysis.ng" target="_blank" class="btn btn-primary py-3 px-5">Visit Site</a>
            </div>
          </div>
        </div>    

         <!-- Sidebar -->
         <div class="col-lg-4 sidebar ftco-animate d-md-block d-none position-absolute" style="top: 50px; right:0;">
          <!-- <div class="sidebar-box">
            <form action="#" class="search-form">
              <div class="form-group">
                <span class="icon icon-search"></span>
                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
              </div>
            </form>
          </div> -->
          <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar text-primary">Categories</h3>
            <ul class="categories">
              <li><a href="/projects">Deployed <span>(15)</span></a></li>
              <li><a href="/projects/demo">Toy Projects/demo <span>(10)</span></a></li>
              <li><a href="/projects/collaborations">Collaborations <span>(5)</span></a></li>
              <li><a href="/projects/works">In Progress <span>(10)</span></a></li>
            </ul>
          </div>

          <div class="sidebar-box ftco-animate">
            <h3 class="heading-sidebar text-primary">Collaborations</h3>
            <p>The projects in this category are collaborations and Close Source contributions that I have participated in. It is always a priviledge to work alongside other skilled persons in the tech space and come out with solid MVPs.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
{%endblock%}